<app-header></app-header>

<main class="content-wrapper">
<nav class="breadcrumb">
  Startseite &gt; Wein &gt; <strong>Wein</strong>
</nav>

<h1 class="page-title">Wein</h1>

  <div class="filter-bar">
    <button class="filter-btn active">Alle Filter</button>
    <button class="filter-btn">Wasser</button>
    <button class="filter-btn">Mineralwasser</button>
    <button class="filter-btn">Wasser mit Geschmack</button>
    <button class="filter-btn">Babywasser</button>
  </div>

<div class="product-grid">
  <div class="product-card" *ngFor="let produkt of produkte">

    <div class="badge-tiefpreis" *ngIf="produkt.badge">
      {{ produkt.badge }}
    </div>

    <img [src]="produkt.bild" [alt]="produkt.name" class="p-img">

    <div class="p-info">

      <!-- Marke -->
      <p class="brand">
        {{ produkt.marke }}
      </p>

      <!-- Produktname -->
      <p class="name">
        {{ produkt.name }}
      </p>

      <!-- Inhalt + Verpackung -->
      <p class="details">
        {{ produkt.inhalt }} ({{ produkt.verpackung }})
      </p>

      <!-- Pfandart -->
      <p class="pfandart">
        {{ produkt.pfandart }}
      </p>

      <!-- Pfand -->
      <p class="pfand">
        zzgl. {{ produkt.pfand }} € Pfand
      </p>

      <!-- Preis -->
      <div class="card-footer">
        <span class="price">
          {{ produkt.preis }} €
        </span>

        <button class="add-btn">+</button>
      </div>

    </div>

  </div>
</div>
